#vbox {
    -fx-font-family: "Chalkduster"
}
.button {
    -fx-background-radius: 40;
    -fx-background-color: "#222222";
    -fx-font-size: 22;
}

.text-field {
    -fx-background-radius: 40;
    -fx-border-radius: 40;
    -fx-font-size: 24;
}

.label {
    -fx-font-size: 14;
}

#title {
    -fx-font-size: 76;
}